.app-button {
  border: none;
  padding: 9px;
  border-radius: 8px;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  cursor: pointer;
  background: linear-gradient(90deg, #1887e0 0%, #4254be 100%);
}

.disabled {
  // background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)) !important;
  background-image: #fff !important;
}
