.upload-file-container {
  width: 100%;
  height: 34px;
  border: 1px solid rgb(168, 166, 166);
  border-radius: 2px;
  text-align: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;

  .upload-label {
    width: 100%;
    height: 34px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
