.paginator-wrapper {
  display: flex;
  gap: 20px;

  .paginator-select {
    width: 60px;
    height: 30px;
    outline: none;
    border: none;
    border-radius: 6px;
    cursor: pointer;
  }

  .button-group {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 30px;
      height: 30px;
      background-color: white;
      border: none;
      color: black;
      border-radius: 6px;
    }
  }
}
