.sidebar-menu {
  width: 100%;
  height: 100%;

  .sidebar-menu-header {
    width: 100%;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(245, 247, 250, 1);

    span {
      color: #fff;
      font-weight: 500;
      font-size: 22px;
    }
  }

  .sidebar-menu-menu {
    width: 100%;
    height: calc(100vh - 75px);
    background: linear-gradient(180deg, #1a76ce 0%, #299fab 100%);
    padding: 20px;
  }

  .sidebar-item-line {
    border-bottom: 2px solid rgba(212, 213, 217, 0.2);
    margin-top: 20px;
  }
}
