.sidebar-item-wrapper {
  .sidebar-item {
    width: 100%;
    height: 46px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    cursor: pointer;
    transition: all ease 0.8s;
    border-radius: 8px;

    .sidebar-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 10px;
    }

    &:hover {
      background: rgba(255, 255, 255, 0.2);
    }

    span {
      color: #fff;
      font-size: 14px;
      font-family: "Onest", sans-serif;
    }
  }

  .sidebar-item-child {
    height: auto;
    transition: all ease 0.5s;
    padding-left: 27px;
    opacity: 1;
  }

  .closed-sidebar-item-child {
    height: 0;
    overflow: hidden;
    transition: all ease 0.5s;
    opacity: 0;
    padding-left: 27px;
  }

  .active-sidebar-item {
    background: rgba(255, 255, 255, 0.2);
  }
}
