.tab-page-wrapper {
  width: 100%;
  height: 100%;

  background-color: #ffffff;

  .tab-page-header {
    width: 100%;
    height: 60px;
  }

  .tab-page-body {
    width: 100%;
    height: calc(100% - 120px);
    border-radius: 8px;
    overflow: hidden;
    overflow-y: auto;
    // border: 0.53px solid rgba(193, 197, 208, 1);

    .tab-page-body-table {
      width: 80%;
      height: 100%;
    }

    .tab-page-body-sidebar {
      width: 20%;
      height: 100%;
    }
  }

  .tab-page-footer {
    width: 100%;
    height: 60px;
  }
}
