.chart-container {
  width: 100%;
  height: 400px;
  position: relative;

  .chart-line-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    .chart-line {
      border-bottom: 1px dashed black;

      .chart-line-label {
        font-size: 12px;
      }
    }
  }

  .chart-body-wrapper {
    width: 100%;
    height: 100%;
    padding-top: 23px;
    padding-left: 24px;
    padding-right: 24px;

    position: absolute;
    z-index: 1;

    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
}
