.table-wrapper {
  width: 100%;
  height: 100%;
  overflow-x: auto;
}

table {
  max-width: none;
  width: 100%;
  table-layout: "fixed";

  thead {
    position: sticky;
    top: -8px;
    z-index: 1;

    th {
      font-weight: bold !important;
      height: 60px;
      text-align: center;
      display: flex;
      font-family: "Lato", sans-serif !important;
      font-weight: 500 !important;
      font-style: normal;
    }
  }

  tbody {
    td {
      text-align: center;
    }

    .my-td {
      display: flex !important;
      justify-content: center;
      align-items: center;
      font-family: "Lato", sans-serif !important;
      font-weight: 500 !important;
      font-style: normal;
    }
  }
}

.table-notifications {
  width: 100%;
  height: calc(100% - 60px);
}

.resizer {
  display: inline-block;
  width: 1px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  transform: translateX(50%);
  z-index: 1;
  touch-action: none;
}

.table-sort-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.custom-table-for-layout {
  table-layout: fixed;
}
